@import "bulma/sass/utilities/mixins";
* {
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.button-cart{ 
    position: fixed;
    bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    @include until($desktop) {
        left: -5%;
    }
    @include from($tablet) {
        left: 15%;
    }
}

.wabutton{
    position: fixed;
    @include until($desktop) {
        top: 80%; 
        left: 33%;
    }
    @include from($tablet) {
        bottom: 10%;
        left: 40%;
    }
}

.listProducts{
    text-align: left;
    margin-left: 0px;
}