@import "bulma/sass/utilities/mixins";
.postionSocialButton{ 
    @include until($desktop) {
        margin-left: 25%;
    }
    @include from($tablet) {
        margin-top: 30px;
        margin-left: 67%;
        size: 250px;
    }
}