.tile.is-parent {
    margin-top: 1rem;
}
.wrapProductTile{
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    overflow:hidden;
}
.tileProductList {
    margin: 15px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
    margin-bottom: 12px !important;
}
.buttonseparated{
    padding: 25px;
}
.totaladded{
    color: grayscale($color: #CCC000);
    position: relative;
    top: 12px;
    margin-left: 30px;
    margin-right: 30px;
}
.btnAddUnit{
    position: relative;
    top: 15px;
}