.section {
    overflow: visible;
  }
.section{
    padding: 0px;
}
.image.is-3by1 {
    padding-top: 31%;
}
.socialnetworks{
    position: relative;
}
.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1rem;
    color: green;
    background-color:#D5F5E3;
    text-align: center;
    border: 1px solid transparent;
    border-color: transparent;
    font-size: 1rem;
}
.filterProducts{
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    left: -50%;
}
